@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: clip;
}
.code-border {
  background: linear-gradient(
    111.93deg,
    rgba(14, 26, 45, 0.24) -1.4%,
    rgba(17, 30, 50, 0.38) 104.96%
  );
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
}
.background__blur--1::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    123.77deg,
    #8a2be2 -6.46%,
    orange 59.04%,
    #f8f8ff 124.53%
  );
}
.background__blur--2::before {
  content: "";
  background: linear-gradient(
    118.19deg,
    #1fa2ff -3.62%,
    #12d8fa 50.44%,
    #a6ffcb 104.51%
  );
  position: absolute;
}

.background__blur--1::before,
.background__blur--2::before {
  border-radius: 100%;
  -webkit-filter: blur(34px);
  filter: blur(34px);
  height: 257.05px;
  left: calc(50% - 263.005px);
  opacity: 0.2;
  top: calc(50% - 175.995px);
  -webkit-transform: matrix(1, 0, -0.03, 1, 0, 0);
  transform: matrix(1, 0, -0.03, 1, 0, 0);
  width: 372.95px;
  z-index: 999;
}
.dotted__line > div:not(:last-child)::before {
  content: "";
  display: none;
  border: 1px dashed #afb2bf;
  position: absolute;
  height: 30px;
  top: 70px;
  left: 25px;
}

@media (min-width: 640px) {
  .dotted__line > div:not(:last-child)::before {
    display: block;
  }
}
.img__bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.01);
  background-color: #118ab2;
  position: absolute;
  z-index: -1;
  filter: blur(10px);
}
#bg__frame::before {
  content: url("/assets/frame.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  scale: 0.73;
  z-index: -1;
}

#spinner {
  display: grid;
  border-radius: 50%;
  animation: spinner-e04l1k 1s infinite linear;
}

#spinner::before,
#spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

#spinner::before {
  border-color: #474bff #0000;
  /* border-color: #474bff #0000; */
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

#spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

#dotMenu > *:not(:last-child),
#gridItems > *:not(:last-child) {
  border-bottom: 1px solid #2c333f;
}
#dotMenu > * {
  /*left-right padding*/
  padding-inline: 15px;
  /*top-bottom padding*/
  padding-block: 10px;
  cursor: pointer;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.cart > *:not(:last-child) {
  border-bottom: 1px solid #2c333f;
}

.active::before {
  transform: translate(75%, 15px) rotate(-35deg);
}
.active::after {
  transform: translate(18%, -16px) rotate(35deg);
}
